body{
    background-color: #26006e;
    margin: 0;    font-family: 'Tilt Neon', sans-serif;
}
h1{
    text-align: center;
    font-size: 5rem;
    color: white;
    background-color: #1c2b9b;
    margin: 0%;
}
.scoreboard{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.cards{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 7%;
}

img{
width: 15rem;
}

div .card{
    width: 13%;
    text-align: center;
}
h2{
    font-size: 4rem;
    color: white;
}

div p{
    color: white;
    font-size: 4rem;
}
.score{
    text-align: center;
}

button{
    background-color: #1c2b9b;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 1rem;
}

.gameGuidelines{
    font-size: 20px;
    color: white;
    margin-top: 4%;
}